<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <!-- TODO - Display portfolio -->
        <p>Portfolio!</p>
        <table class="table table.striped">
            <tr>
                <th>Stock symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>Total value</th>
            </tr>
            <tr th:each="holding : ${holdings}">
                <td th:text="${holding.key}">Symbol</td>
                <td th:text="${holding.value.name}">Shares</td>
                <td th:text="${holding.value.totalValue}">Value</td>
                <td th:text="'$' + ${holding.value.price}">Price</td>
                <td th:text="'$' + ${holding.value.totalValue}">Value</td>
            </tr>
        </table>

    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>